$bg-color: #f2f2f2;
$primary-text-color: #555555;
$text-color: #ffffff;
$titles-font-color: #333333;
$primary-color-orange: #f85c37;
$accent-color: #7b7b7b;
$text-color-black: #2f2f2f;
$color-dark-gray: #e0e0e0;
$bg-color-black: #2f2f2f;
$text-color-menu: #808080;

